:root {
    --primary: rgb(55, 55, 252);
    --primary-text-color: #f9f9f9;
}

@media only screen and (prefers-color-scheme: light) {
    :root {
        --text-color: #181818;
        --background-color: #f9f9f9;
    }
}

@media only screen and (prefers-color-scheme: dark) {
    :root {
        --text-color: #f9f9f9;
        --background-color: #181818;
    }
}

/* width */
::-webkit-scrollbar {
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    background: var(--background-color);
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: var(--text-color);
    border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: var(--text-color);
}

* {
    outline: none;
    color: var(--text-color);
    background: var(--background-color);
}

.d-app {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    max-width: 540px;
    height: 100%;
    overflow-y: auto;
    color: var(--text-color);
    background: var(--background-color);
}

.d-app .d-toolbar {
    position: relative;
    height: auto;
    padding: 20px;
    margin: 0px 10px 10px 10px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
    border-radius: 0px 0px 20px 20px;
}

.d-app .d-content {
    position: relative;
    height: auto;
    padding: 10px;
}

.d-row {
    display: flex;
    justify-content: space-between;
}

.d-input {
    position: relative;
    width: 100%;
    height: 40px;
    padding: 0px 10px;
    outline: none;
    border: none;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    color: var(--primary);
    background: var(--background-color);
}

.d-btn {
    position: relative;
    width: auto;
    height: auto;
    padding: 10px 20px 10px 20px;
    color: #181818;
    background: #f9f9f9;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.5);
    margin: 10px 0px;
}

.d-btn-primary {
    width: 100%;
    height: 40px;
    text-align: center;
    line-height: 20px;
    background: var(--primary);
    color: var(--primary-text-color);
    box-shadow: 0px 1.5px 5px rgba(55, 55, 252, 0.5);
}

.d-downloading {
    position: absolute;
    width: auto;
    height: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: var(--primary);
    font-size: 20px;
    z-index: 10000000;
}

.d-searchbar {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px 20px;
}

.d-searchbar-input {
    position: relative;
    width: 100%;
    height: 40px;
    border: none;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 0px 10px;
    outline: none;
    color: var(--textcolor);
    background: var(--background-color);
    outline: none;
}

.d-searchbar-button {
    position: relative;
    width: auto;
    height: 40px;
    padding: 0px 10px;
    text-align: center;
    line-height: 40px;
    margin-left: 10px;
    color: rgb(0, 68, 255);
    background: rgba(0, 68, 255, 0.1);
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    cursor: pointer;
    outline: none;
}

.d-results {
    position: relative;
    width: auto;
    height: 100%;
    overflow-y: auto !important;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: auto;
    padding: 20px;
}

.d-results > .d-result {
    position: relative;
    width: 100%;
    height: auto;
    padding: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.d-results > .d-result > .d-result-header {
    position: relative;
    width: 100%;
    height: auto;
    display: flex;
    margin-bottom: 20px;
}

.d-results > .d-result > .d-result-header > .d-result-thumbnail {
    position: relative;
    width: 100px;
    height: 60px;
    object-fit: cover;
    margin-right: 10px;
    border-radius: 5px;
}

.d-results > .d-result > .d-result-header > .d-result-title {
    position: relative;
    width: 100%;
    height: 60px;
    line-height: 60px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: var(--textcolor);
}

.d-result-footer {
    position: relative;
    width: 100%;
    height: auto;
    display: flex;
}

.d-result-downloadbutton {
    position: relative;
    width: 100%;
    height: 40px;
    text-align: center;
    line-height: 40px;
    margin-top: 10px;
    color: rgb(0, 68, 255);
    background: rgba(0, 68, 255, 0.1);
    border-radius: 10px;
}
